
body {
    background-color: rgba(8 102 176 / 88%);
}

.text {
    text-align: center;
    background-color: black;
    color: aliceblue;
}

.calculator {
    max-inline-size: 22rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-block-start: 2em;
}

.calculator_output {
    font-size: 3rem;
    text-align: end;
    background: lightslategray;
    color: white;
    padding-block-start: 0.25rem;
    padding-block-end: 0.25rem;
    padding-inline-end: 0.75rem;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    background-color: lightgray;
}

.enter {
    grid-column: 4 / 5;
    grid-row: 2 / span 4;
    background-color: lightsalmon;
    border-radius: 40px;
    height: auto;
}

.key {
    background-color: beige;
    border: none;
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    padding-inline-start: 1.25rem;
    padding-inline-end: 1.25rem;
    font-size: 1.5rem;
    border-radius: 40px;
    block-size: 60px;
}

nav div {
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
    background-color: #1e9dd2;
    border-radius: 40px;
}

.key--operator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    background-color: beige;
    border: none;
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    padding-inline-start: 1.25rem;
    padding-inline-end: 1.25rem;
    font-size: 1.5rem;
    border-radius: 40px;
    block-size: 60px;
}

.key--operator:active {
    background-color: lightgrey;
}

.key:active {
    box-shadow: 0, 0, 8px 0 rgba(0, 0, 0, 0.3) inset;
    outline: none;
    background-color: darkgrey;
}
